.date, .time {
    font-size: 3.0em;
    text-align: justify;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

.time {
    font-size: 2.3em;
}

.align-right {
    float: right;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.3em;
}

#map {
    height: 260px;
    width: 300px;
    margin-bottom: 30px;
}

#gallery-view #map {
    margin: 30px;
    width: 380px;
    height: 360px;
}

html {
    height: 100%;
}

.row-fluid {
    max-height: 100%;
}

body {
    padding-top: 2em;
    border-top: 4px solid #555555;
    background-color: #fdfdfd;
    padding-bottom: 20px;
    min-height: 100%;
    color: #555555;
    position: relative;
}

#gallery-view, #photo-view, #story-view {
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

#gallery-view, #story-view {
    margin-left: 60px;
}

#story {
    width: 800px;
    margin: auto;
    font-size: 1.0em;
    text-align: justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
}

#story p {
    padding: 10px;
}

#story img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#story h1 {
    font-size: 2em;
}

#story blockquote {
    font-size: 1em;
    font-style: italic;
}

#sidebar {
    max-width: 320px;
    margin-left: 10px;
}

#navigation {
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 1.1em;
    margin-bottom: 30px;
}

#navigation a:hover {
    text-decoration: none;
}

#nav-next {
    font-size: 1.4em;
    letter-spacing: 0.3em;
}

.nav-tabs {
    margin-top: 15px;
}

#gallery-desc, #gallery-date, #gallery-location {
    margin-left: 120px;
}

#gallery-date, #gallery-location, #photo-fullscreen, #photo-origsize {
	display: inline;
    font-size: 0.9em;
}

#photo-fullscreen, #photo-origsize {
    padding-left: 10px
}

.glyphicon {
    color: #555555;
    padding: 3px;
}

#footerfix {
    height: 65px;
}

#footer {
    bottom: 0;
    height: 40px;
    position: absolute;
    border-bottom: 4px solid #555555;
    padding-bottom: 40px;
    width: 100%;
}
#footer p {
    text-align: center;
    margin-bottom: 0;
    line-height: 1.1em;
    font-size: 0.8em;
}

.breadcrumb {
    letter-spacing: 0.15em;
    margin-bottom: 25px;
    padding-left: 40px;
    background-color: inherit;
    margin-bottom: 25px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.breadcrumb > li + li::before {
    color: inherit;
    content: "/";
}

.breadcrumb > .active {
    color: inherit;
}

.img-thumbnail {
    padding: 10px;
}

.img-caption {
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.fixcaption{
    padding: 0px;
    float: left;
    position: relative;
    margin: 15px;
}

.leaflet-control-attribution {
    font-size: 10px
}

.separator {
    clear: both;
    border-bottom: 2px solid;
    padding: 20px;
    margin-right: 30px;
}
