<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gallery 1</title>

    <!-- CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/font-awesome.min.css" rel="stylesheet">
    <link href="leaflet/leaflet.css" rel="stylesheet">
    <link href="default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="containerfluid" id="gallery-view">
      <div class="row-fluid">
          <ol class="breadcrumb"><li><a href="#">root</a></li><li><a href="#">gallery 1</a></li><li class="active">sous gallerie 1</li></ol>
          <p id="gallery-desc">Hop voici une gallery.<br />blabla bla...</p>
          <div id="map" class="pull-right"></div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 2</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 3</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 5</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 6</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
          <div class="img-caption"><p>Gallery 1</p></div>
          </div>
          <div class="fixcaption">
          <img class="img-thumbnail" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" width="260" />
        <div class="img-caption"><p>Gallery 1</p></div>
          </div>
      </div>
    </div>

    <div id="footerfix"></div>
    <div id="footer">
        <p>&copy;&nbsp;Romain Dessort. All the content of this site could be shared and reused under the terms of the Creative Commons BY-SA 4.0 license.<br />
      This gallery is built by gallepy, a free software Python static gallery generator.</p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="leaflet/leaflet.js"></script>
    <script src="map.js"></script>
  </body>
</html>
