<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DSC0001.jpg</title>

    <!-- CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/font-awesome.min.css" rel="stylesheet">
    <link href="leaflet/leaflet.css" rel="stylesheet">
    <link href="default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid" id="photo-view">
      <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb"><li><a href="#">root</a></li><li><a href="#">gallery 1</a></li><li><a href="#">sous-gallery 1</a></li><li class="active">photo42.jpg</ol>
          <img class="img-responsive img-rounded center-block" desc="{{ exif_tags['Image ImageDescription'] }}" src="http://photos.univers-libre.net/Quebec/TrainDuNord/_preview/DSC04951.JPG" />
        </div>
        <div class="col-md-3" id="sidebar">
          <p id="navigation"><a href="#">&lt; Précédent</a> − <a id="nav-next" href="#">Suivant &gt;</a></p>
          <div id="map"></div>
          <p class="date">Mardi 4<br />octobre<br />2016</p><p class="time">11:33 EDT</p>
          <h1>Description EXIF</h1>
        </div>
      </div>
    </div>

    <div id="footerfix"></div>
    <div id="footer">
        <p>&copy;&nbsp;Romain Dessort. All the content of this site could be shared and reused under the terms of the Creative Commons BY-SA 4.0 license.<br />
      This gallery is built by gallepy, a free software Python static gallery generator.</p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="leaflet/leaflet.js"></script>
    <script src="map.js"></script>
  </body>
</html>
