<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block title %}{% endblock %}

    <!-- Bootstrap -->
    <link href="{{root_uri}}static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{root_uri}}static/fontawesome/font-awesome.min.css" rel="stylesheet">
    <link href="{{root_uri}}static/leaflet/leaflet.css" rel="stylesheet">
    <link href="{{root_uri}}static/default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="alternate" title="Atom Syndication Feed" href="/atom.xml" type="application/atom+xml" />
  </head>
  <body>
      {% block content %}{% endblock %}

    <div id="footerfix"></div>
    <div id="footer">
        <p>&copy;&nbsp;Romain Dessort. Tout le contenu de ce site est partagé sous les termes de la licence Creative Commons BY-SA 4.0.<br />
        Le site est généré par <a href="https://dev.univers-libre.net/gallepy/">gallepy</a>, un logiciel libre de générattion de gallerie statique écrit en Python.</p>
    </div>

    <script src="{{root_uri}}static/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="{{root_uri}}static/js/bootstrap.min.js"></script>-->
    <script src="{{root_uri}}static/leaflet/leaflet.js"></script>
    <script src="{{root_uri}}static/leaflet-gpx/gpx.js"></script>
    <script src="{{root_uri}}static/fullscreen.js"></script>
    <script src="gallery.geojson"></script>
    <script src="{{root_uri}}static/map.js"></script>
  </body>
</html>
