<ol class="breadcrumb">
  {% for parent in parents |reverse %}
  <li><a href="{{root_uri}}{{parent.rel_path}}">{{parent.attributes.title}}</a></li>
  {% endfor %}
  {% if dirname is defined %} {# So this is a gallery #}
  <li class="active">{{title}}</li>
  {% elif filename is defined %} {# So this is a photo #}
  <li class="active">{{filename}}</li>
  {% endif %}
</ol>
