{% extends "base.html.j2" %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    <div class="containerfluid" id="gallery-view">
      <div class="row-fluid">
            {% include 'breadcrumbs.html.j2' %}

          <p id="gallery-desc">{{description}}</p>
          {% if date != '' %}
          <p id="gallery-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{date}}</p>
          {% endif %}
          {% if location != '' %}
          <p id="gallery-location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{location}}</p>
          {% endif %}
          {% if has_story == True %}
          <ul class="nav nav-tabs">
		    <li role="presentation" class="active"><a href="{{root_uri}}{{rel_path}}">Photos</a></li>
			<li role="presentation"><a href="{{root_uri}}{{rel_path}}/story.html">Récit</a></li>
		  </ul>
		  {% endif %}

		  <div id="map" class="pull-right"></div>

          {% for gallery in galleries %}
          <div class="fixcaption">
            <a href="{{root_uri}}{{gallery.rel_path}}">
              <img class="img-thumbnail" src="{{root_uri}}{{gallery.attributes.thumbnail}}" />
            </a>
            <div class="img-caption">
              <p>{{gallery.attributes.title}}</p>
            </div>
          </div>
          {% if loop.last %}
          <div class="separator"></div>
          {% endif %}
          {% endfor %}

          {% for photo in photos %}
          <div class="fixcaption">
            <a href="{{root_uri}}{{photo.rel_path |replace('.jpg', '.html')}}">
                <img class="img-thumbnail" src="{{root_uri}}{{photo.thumbnail}}" />
            </a>
            <div class="img-caption">
                <!--<p>{{photo.filename}}</p>-->
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}
