{% extends "base.html.j2" %}

{% block title %}
    <title>{{filename}}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="photo-view">
      <div class="row">
        <div class="col-md-9">
            {% include 'breadcrumbs.html.j2' %}

            <img class="img-responsive img-rounded center-block" alt="{{exif_tags['Image ImageDescription'] }}" src="{{root_uri}}{{websize}}" />
        </div>
        <div class="col-md-3" id="sidebar">
          <p id="navigation">
          {% if previous != None %}<a href="{{root_uri}}{{previous.rel_path |replace('.jpg', '.html')}}">&lt; Précédent</a>{% endif %}{% if previous != None and next != None %} − {% endif %}{% if next != None %}<a id="nav-next" href="{{root_uri}}{{next.rel_path |replace('.jpg', '.html')}}">Suivant &gt;</a>{% endif %}
          </p>
          <ul>
            <li id="photo-fullscreen"><a href="#" id="go-fullscreen"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>Plein écran</a></li>
            <li id="photo-origsize"><a href="{{root_uri}}{{rel_path}}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Taille originale</a></li>
          </ul>
          <div id="map"></div>
          <p class="date">{{date}}</p><p class="time">{{time}}</p>
          <h1>{{exif_tags['Image ImageDescription']}}</h1>
        </div>
      </div>
    </div>
{% endblock %}
