{% extends "base.html.j2" %}

{% block title %}
    <title>{{title}} - récit</title>
{% endblock %}

{% block content %}
    <div class="containerfluid" id="story-view">
      <div class="row-fluid">
            {% include 'breadcrumbs.html.j2' %}

          <p id="gallery-desc">{{description}}</p>
          {% if date != '' %}
          <p id="gallery-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{date}}</p>
          {% endif %}
          {% if location != '' %}
          <p id="gallery-location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{location}}</p>
          {% endif %}
          <ul class="nav nav-tabs">
		    <li role="presentation"><a href="{{root_uri}}{{rel_path}}">Photos</a></li>
			<li role="presentation" class="active"><a href="{{root_uri}}{{rel_path}}/story.html">Récit</a></li>
		  </ul>

          <div id="story">
          {{html_story}}
          </div>

      </div>
    </div>
{% endblock %}
